---
# Only the main Sass file needs front matter (the dashes are enough)
---

$relative_url: "/";

@function asset-url($path){
  @return url($relative_url + $path);
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');

@import "bootstrap_assets/_bootstrap-reboot";
@import "bootstrap_assets/_bootstrap-grid";
@import "bootstrap_assets/_bootstrap";

@import "creative";
